apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: blog-app
spec:
  selector:
    app: backend
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
  type: LoadBalancer # Pour accéder depuis l'extérieur
