apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
  namespace: blog-app
spec:
  selector:
    app: mongodb
  ports:
    - port: 27017
      targetPort: 27017
  type: ClusterIP # Service interne seulement
